
body {
    
    background-color: #92DDF4;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#content {overflow: auto;}

#nav, #feature, #footer{
    margin: 0%;
}

.radio .buybutton {
    width: 40%;
    float: left;
    text-align: center;
      margin-top: -15px;
}

.radio h1 {
  font-size: 22px;
  text-align: center;
  font-family: 'Abel', Arial;
  margin-top: -20px;
}

.radio label {
  margin-left: -20px;
  font-size: 16px;
  posiiton: relative;
  font-family: 'Abel', Arial;
}

.radio .sellbutton {
  width: 40%;
  margin-top: -15px;
  float: right;
  text-align: center;

}

.leftradiobutton {
  position: relative;
  margin-left: 25px;
}

.rightradiobutton {
  position: relative;
  margin-left: 25px;
}

.col-sm-12  {
  font-size: 12px;
}

.col-md-7 .text-center {
  font-size: 28px;
  font-family: 'Abel', Arial;
}

.col-md-7 {
  margin-top: 20px;
  left: 80px;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////Customizing the box ///////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////*/

.col-md-3{
  margin-bottom: 10%;
  position: static;
  margin-top: 20px;
  margin-left: 80px;
}



.btn-group-justified{

    width: 50%;
    left: 20%;

}

.btn-primary{
    
    
}
/*
.panel-primary{
    width: 400px;
    height: 450px;
    float:left;
    margin: 0 auto;
    
    margin-left: 50px;
    margin-top: 50px;
    

}


.map{
    width: 700px;
    height: 450px;
    
    margin: 0 auto;
    right: 1250px;
    margin-left: 50px;
    margin-top: 50px;
    margin-right: 50px;
    
    }
  */  
   
  .map{
  height: 400px;
  margin-top: 50px;
  background-color: rgba(255,255,255,0.4);
  }
  
  .box{
  height: 400px;
  margin-top: 50px;
  opacity; 0.3;
  background-color: rgba(255,255,255,0.4);
    
  }
  
  
.navbar-brand{
    font-family:'Abel', Arial;
}
  
.navbar-inverse{
    margin: 0;
    padding: 0;

}


#footer{
    position: relative;
    text-align: center;
    bottom: 0;
    width: 100%;
}


#feature {
    height: 10em;
    margin-bottom 0em;
    background-color: #efefef;
}

.article {
    height: 10em;
    background:#efefef;
}

