<!DOCTYPE html>
<html>
<head>
    <link href='http://fonts.googleapis.com/css?family=Orbitron:700' rel='stylesheet' type='text/css'>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
		<title>YardSail</title>
        <link rel="stylesheet" type="text/css" href="/yardsailcss.css">


	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div id = "content">
            <div class = "login-button"><a href = "/users/sign_in">Login</a></div>
            <div class = "titlebar"></div>
            <div id = "background-title"></div>
            <div class = "titleYard"><a href = "">YardSail</a></div>
            <div class = "description">Sail through your neighborhood to find treasures at a fair price.</div>
            <div class = "article column1">
                <img src="/blockOne.png" />
            </div>
            <div class = "article column2">
                <img src="/blockTWO.png" />
            </div>
            <div class = "article column3">
                <p>HACKED</p>
                <p>AT</p>
                <p>LA HACKS</p>
            </div>
        </div>
        
        <div id = "footer">
            <p>Copyright &copy 2015 YardSail.com</p>
        </div>
</body>
</html>
